<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ООО РОМАШКА</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="container">

</div>
<header class="header">
<!--    Шапка сайта-->
    <a href="" class="logo">РОМАШКА</a>
<!--    Навигация-->
    <hav class="navigation">
        <ul>
            <li><a href="http://google.com">Главная</a></li>
            <li><a href="http://google.com">О нас</a></li>
            <li><a href="http://google.com">Контакты</a></li>
        </ul>
    </hav>
</header>
<!--Главная информация-->
<main class="main">
    <h1>Добро пожаловать на сайт ООО РОМАШКА</h1>
    <button class="main-button">Купить ромашки</button>
</main>
<!--    Подвал сайта-->
<footer class="footer">
    ООО РОМАШКА 2024. Все права защищены.
</footer>

</body>
</html>